/*body{
    background: linear-gradient(to left, #604D3C, #B8A69B, #D5D3D5, #71798E, #737C88);
}
.content{
    background-color: black;
    border-radius: 10px;
    box-shadow: 20px 20px 60px #a40033, -20px -20px 60px #a40033;
    padding: 4%;
    margin: 60px 370px;
    top: 0%;
    bottom: 0%;
    padding-bottom: 3%;
    padding-top: 25px;
}*/
.content{
    position: relative;
    padding: 4%;
    margin: 60px 370px;
    top: 0%;
    bottom: 0%;
    padding-bottom: 3%;
    padding-top: 25px;
    background: linear-gradient(0deg,#000,#262626);
}
.content:before
{
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    background: linear-gradient(45deg, #fb0094,#0000ff,#00ff00,#ffff00,#ff0000, #fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
    background-size: 400%;
    z-index: -1;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    animation: animate 20s linear infinite;
}
.content:after
{
    filter: blur(20px);
}
@keyframes animate
{
    0%
    {
        background-position: 0 0;
    }
    50%
    {
        background-position: 300% 0;
    }
    100%
    {
        background-position: 0 0;
    }
}



body:before
{
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    background: linear-gradient(45deg, #604D3C, #B8A69B, #D5D3D5, #71798E, #737C88,#604D3C, #B8A69B, #D5D3D5, #71798E, #737C88);
    background-size: 400%;
    z-index: -1;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    animation: animate 20s linear infinite;
}
body:after
{
    filter: blur(20px);
}
@keyframes animate
{
    0%
    {
        background-position: 0 0;
    }
    50%
    {
        background-position: 300% 0;
    }
    100%
    {
        background-position: 0 0;
    }
}

.motor{
    float: none;
    padding: 0%;
    margin: 0%;
}
.motorbike{
    color: white;
    top: 0px;
    font-family: sans-serif;
    font-size: 33px;
    text-align: center;
    margin-top: 0rem;

}
.generate1{
    color: white;
    font-size: 16px;
    padding: 0px;
    text-decoration: none;
}
.generate2{
    color: white;
    font-size: 16px;
    padding: 80px;
    text-decoration: none;
}
.allgenerate{
    padding: 10px;   
    margin-top: 0px; 
}
.buttonselector{
    padding: 0%;
    margin-top: 10px; 
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.gen{
    border-radius: 10%;
    background-color: white;
    color: black;
    padding: 2% 5%;
    font-weight: bolder;
    font-size: 14px;
    border: none;
}
.gen:hover{
    background-color: grey;
    color: black;
}
#color{
    border-radius: 10%;
    border: none;
    background-color: white;
    padding: 2% 6%;
    font-size: 16;
    font-weight: bolder;
    margin-left: 120px;
}
#color:hover{
    background-color: grey;
    color: black;
}

.down{
    margin-left: 245px;
    margin-top: 10px;
    font-weight: bolder;
}
.showw{
    padding: 4% 5%;
    border-radius: 10%;
    background-color: white;
    border: none;
    font-weight: bold;
}

.showw:hover{
    background-color:grey;
    color: black ;
    font-weight: bold;
}
.resett{
    padding: 4% 5%;
    border-radius: 10%;
    background-color: white;
    border: none;
    font-weight: bold;
}

.resett:hover{
    background-color:grey;
    color: black;
    font-weight: bold;
}
.blue{
    background-color: blue;
    color: black;
    font-weight: bolder;
}
.blue:hover
{
    background-color: blue;
}
.yellow{
    background-color: yellow;
    color: black;
    font-weight: bolder;
}
.yellow:hover
{
    background-color: yellow;
}
.green{
    background-color: green;
    color: black;
    font-weight: bolder;
}
.green:hover
{
    background-color: green;
}
.red{
    background-color: red;
    color: black;
    font-weight: bolder;
}
.red:hover
{
    background-color: red;
}